#myvideo {
    display: none;
}

#trackbutton {
    display: none;
}

#resetbtn {
    display: none;
}

#updatenote {
    margin-top: 50px;
    text-align: center;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}